html, body {
  height: 100%;
  margin: 0;
}

  .main {
  /*display: none;*/
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888;
  border-radius: 12px;
  padding: 20px;
  background-color: #ddd;
  margin: 25px;
  width: 450px;
  margin-left:auto;
  margin-right:auto;  
}

.logo {
  width:275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px;
}

.container {
  /*display: none;*/
  -webkit-perspective: 300; perspective: 300;
}

#viewer {
    display: inline;
    width:100%;
    min-height:100%;
}

#left-view, #right-view {
    background-image: url("example-photo.jpg");
    background-size: cover;
    background-position-x: center;
    position: absolute;
    min-height: 100%;
    width: 50%;
}
#left-view {
    /* border: 1px solid black; */
    top: 0;
    left: 0;
}
#right-view {
    /* border: 1px solid red; */
    top: 0;
    right: 0;
}
